################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GestaoTurmas/CopilotIndices/17.14.1368.60722
/.vs
/.vs
/Projeto_Lab/.vs
/Projeto_Lab/Projeto_Lab/bin/Debug/net9.0-windows
/Projeto_Lab/Projeto_Lab/obj
